################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

bin/
obj/
*/bin
*/obj
*.DotSettings
*.nupkg
/nuget.exe
*.csproj.vspscc
*.ps1
*.psd1
*.psm1
*.DotSettings.user
*.suo
*.cache